@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/********** Document wide **********/
* {font-family: 'Source Sans Pro' , 'Arial'; }

/********** Navigation bar **********/
nav {
  z-index:1;
  height: 35px;
  top: 0px;
  left: 0px;
  background-color: #000;
  width: 100%;
  position: fixed;
}

nav p{
  color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/********** Header (initial image) **********/
header {
  background-color: #fff;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  margin: 0px auto;
}

header h1, h2, h3 {
  text-align: center;
  margin: 0px 0px 5px 0px;
}

/********** Headings **********/
h2, h3, h4 {
  text-align: center;
}

h2 {font-size:120%;}
h3 {
  font-size: 100%;
  line-height: 1.4em;
  margin-bottom: 0px;
}

/********** Body **********/
body {
  margin: 40px 0px;
}

p {
  margin: 0px;
  line-height: 1.4em;
  margin-bottom: 15px;
}

#content {
  max-width: 940px;
  margin: auto;
  width: 70%;
}

.graphFootnote {
  text-align: center;
  font-size: 90%
}

a { text-decoration: none;}

/********** D3 **********/

.xaxis, .yaxis, .label {
  font-size: 90%;
}

.axis path,
.axis line {
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #8c510a;
  stroke-width: 2;
}

text {
  font-size: 80%;
}

/********** Mobile compatibility **********/
@media only screen and (max-width: 1100px) {

  #content {
    width: 80%;
    margin: auto;
    line-height: 2em;
  }

  table {
  width: 85%;
  text-align: right;
  margin: auto;
}
  
}

@media only screen and (max-width: 500px) {

  nav p { display: none; }

  #content {
    width: 94%;
    margin: auto;
    line-height: 2em;
  }

  table {
  font-size: 75%;
  width: 95%;
  text-align: right;
  margin: auto;
}

text { font-size: 70%; }

}
